
body {
    background: $background-color;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 50;
    display: flex;
    justify-content: center;
}

h4 {
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employeePageContainer {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}

.managerPageContainer {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}

.managerFunctionalityLists {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}


.employeeFunctionalityContainer, .departmentFunctionalityContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}




.functionalityHeader {
    margin: 1px;
}

.employeeFuncButtons {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.displayTable {
    width: 100%;
    margin: 0;
    text-align: left;
}

.skillForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funcListItem {
    margin-left: 25px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// #logInButton {
//     align-items: flex-end;
// }