
body {
    background: $background-color;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 50;
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employeePageContainer {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}

.managerPageContainer {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}

.managerFunctionalityLists {
    display: flex;
}


.employeeFunctionalityContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.functionalityHeader {
    margin: 1px;
}

.employeeFuncButtons {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.employeeTable {
    width: 90%;
    margin: auto;
}

.skillForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}